<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elysia.core.datasource.mappers.ClubUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.elysia.core.datasource.dao.ClubUserInfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="FIRSTNAME" jdbcType="VARCHAR" property="firstname" />
    <result column="LASTNAME" jdbcType="VARCHAR" property="lastname" />
    <result column="GENDER" jdbcType="TINYINT" property="gender" />
    <result column="BIRTHDATE" jdbcType="VARCHAR" property="birthdate" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="COUNTRY" jdbcType="VARCHAR" property="country" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="POSTALCODE" jdbcType="VARCHAR" property="postalcode" />
    <result column="AVATAR" jdbcType="VARCHAR" property="avatar" />
    <result column="STATUS" jdbcType="TINYINT" property="status" />
    <result column="ROLEID" jdbcType="VARCHAR" property="roleid" />
    <result column="REGISTRATION_DATE" jdbcType="TIMESTAMP" property="registrationDate" />
    <result column="LASTLOGIN_DATE" jdbcType="TIMESTAMP" property="lastloginDate" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_DATE" jdbcType="VARCHAR" property="createDate" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="UPDATE_DATE" jdbcType="VARCHAR" property="updateDate" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, USERNAME, PASSWORD, FIRSTNAME, LASTNAME, GENDER, BIRTHDATE, EMAIL, PHONE, ADDRESS, 
    COUNTRY, CITY, POSTALCODE, AVATAR, STATUS, ROLEID, REGISTRATION_DATE, LASTLOGIN_DATE, 
    CREATE_USER, CREATE_DATE, CREATE_TIME, UPDATE_USER, UPDATE_DATE, UPDATE_TIME
  </sql>
  <select id="selectByExample" parameterType="com.elysia.core.datasource.dao.ClubUserInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from club_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from club_user_info
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from club_user_info
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.elysia.core.datasource.dao.ClubUserInfoExample">
    delete from club_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.elysia.core.datasource.dao.ClubUserInfo">
    insert into club_user_info (ID, USERNAME, PASSWORD, 
      FIRSTNAME, LASTNAME, GENDER, 
      BIRTHDATE, EMAIL, PHONE, 
      ADDRESS, COUNTRY, CITY, 
      POSTALCODE, AVATAR, STATUS, 
      ROLEID, REGISTRATION_DATE, LASTLOGIN_DATE, 
      CREATE_USER, CREATE_DATE, CREATE_TIME, 
      UPDATE_USER, UPDATE_DATE, UPDATE_TIME
      )
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{firstname,jdbcType=VARCHAR}, #{lastname,jdbcType=VARCHAR}, #{gender,jdbcType=TINYINT}, 
      #{birthdate,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{postalcode,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{roleid,jdbcType=VARCHAR}, #{registrationDate,jdbcType=TIMESTAMP}, #{lastloginDate,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.elysia.core.datasource.dao.ClubUserInfo">
    insert into club_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="firstname != null">
        FIRSTNAME,
      </if>
      <if test="lastname != null">
        LASTNAME,
      </if>
      <if test="gender != null">
        GENDER,
      </if>
      <if test="birthdate != null">
        BIRTHDATE,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="country != null">
        COUNTRY,
      </if>
      <if test="city != null">
        CITY,
      </if>
      <if test="postalcode != null">
        POSTALCODE,
      </if>
      <if test="avatar != null">
        AVATAR,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="roleid != null">
        ROLEID,
      </if>
      <if test="registrationDate != null">
        REGISTRATION_DATE,
      </if>
      <if test="lastloginDate != null">
        LASTLOGIN_DATE,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="firstname != null">
        #{firstname,jdbcType=VARCHAR},
      </if>
      <if test="lastname != null">
        #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="birthdate != null">
        #{birthdate,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="postalcode != null">
        #{postalcode,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="registrationDate != null">
        #{registrationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastloginDate != null">
        #{lastloginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.elysia.core.datasource.dao.ClubUserInfoExample" resultType="java.lang.Long">
    select count(*) from club_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update club_user_info
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        USERNAME = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.firstname != null">
        FIRSTNAME = #{record.firstname,jdbcType=VARCHAR},
      </if>
      <if test="record.lastname != null">
        LASTNAME = #{record.lastname,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null">
        GENDER = #{record.gender,jdbcType=TINYINT},
      </if>
      <if test="record.birthdate != null">
        BIRTHDATE = #{record.birthdate,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null">
        COUNTRY = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        CITY = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.postalcode != null">
        POSTALCODE = #{record.postalcode,jdbcType=VARCHAR},
      </if>
      <if test="record.avatar != null">
        AVATAR = #{record.avatar,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.roleid != null">
        ROLEID = #{record.roleid,jdbcType=VARCHAR},
      </if>
      <if test="record.registrationDate != null">
        REGISTRATION_DATE = #{record.registrationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastloginDate != null">
        LASTLOGIN_DATE = #{record.lastloginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null">
        UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update club_user_info
    set ID = #{record.id,jdbcType=VARCHAR},
      USERNAME = #{record.username,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      FIRSTNAME = #{record.firstname,jdbcType=VARCHAR},
      LASTNAME = #{record.lastname,jdbcType=VARCHAR},
      GENDER = #{record.gender,jdbcType=TINYINT},
      BIRTHDATE = #{record.birthdate,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      COUNTRY = #{record.country,jdbcType=VARCHAR},
      CITY = #{record.city,jdbcType=VARCHAR},
      POSTALCODE = #{record.postalcode,jdbcType=VARCHAR},
      AVATAR = #{record.avatar,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=TINYINT},
      ROLEID = #{record.roleid,jdbcType=VARCHAR},
      REGISTRATION_DATE = #{record.registrationDate,jdbcType=TIMESTAMP},
      LASTLOGIN_DATE = #{record.lastloginDate,jdbcType=TIMESTAMP},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      UPDATE_DATE = #{record.updateDate,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.elysia.core.datasource.dao.ClubUserInfo">
    update club_user_info
    <set>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="firstname != null">
        FIRSTNAME = #{firstname,jdbcType=VARCHAR},
      </if>
      <if test="lastname != null">
        LASTNAME = #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        GENDER = #{gender,jdbcType=TINYINT},
      </if>
      <if test="birthdate != null">
        BIRTHDATE = #{birthdate,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        COUNTRY = #{country,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="postalcode != null">
        POSTALCODE = #{postalcode,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        AVATAR = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=TINYINT},
      </if>
      <if test="roleid != null">
        ROLEID = #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="registrationDate != null">
        REGISTRATION_DATE = #{registrationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastloginDate != null">
        LASTLOGIN_DATE = #{lastloginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.elysia.core.datasource.dao.ClubUserInfo">
    update club_user_info
    set USERNAME = #{username,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      FIRSTNAME = #{firstname,jdbcType=VARCHAR},
      LASTNAME = #{lastname,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=TINYINT},
      BIRTHDATE = #{birthdate,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      COUNTRY = #{country,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      POSTALCODE = #{postalcode,jdbcType=VARCHAR},
      AVATAR = #{avatar,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=TINYINT},
      ROLEID = #{roleid,jdbcType=VARCHAR},
      REGISTRATION_DATE = #{registrationDate,jdbcType=TIMESTAMP},
      LASTLOGIN_DATE = #{lastloginDate,jdbcType=TIMESTAMP},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.elysia.core.datasource.dao.ClubUserInfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="FIRSTNAME" jdbcType="VARCHAR" property="firstname" />
    <result column="LASTNAME" jdbcType="VARCHAR" property="lastname" />
    <result column="GENDER" jdbcType="TINYINT" property="gender" />
    <result column="BIRTHDATE" jdbcType="VARCHAR" property="birthdate" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="COUNTRY" jdbcType="VARCHAR" property="country" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="POSTALCODE" jdbcType="VARCHAR" property="postalcode" />
    <result column="AVATAR" jdbcType="VARCHAR" property="avatar" />
    <result column="STATUS" jdbcType="TINYINT" property="status" />
    <result column="ROLEID" jdbcType="VARCHAR" property="roleid" />
    <result column="REGISTRATION_DATE" jdbcType="TIMESTAMP" property="registrationDate" />
    <result column="LASTLOGIN_DATE" jdbcType="TIMESTAMP" property="lastloginDate" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_DATE" jdbcType="VARCHAR" property="createDate" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="UPDATE_DATE" jdbcType="VARCHAR" property="updateDate" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, USERNAME, PASSWORD, FIRSTNAME, LASTNAME, GENDER, BIRTHDATE, EMAIL, PHONE, ADDRESS, 
    COUNTRY, CITY, POSTALCODE, AVATAR, STATUS, ROLEID, REGISTRATION_DATE, LASTLOGIN_DATE, 
    CREATE_USER, CREATE_DATE, CREATE_TIME, UPDATE_USER, UPDATE_DATE, UPDATE_TIME
  </sql>
  <select id="selectByExample" parameterType="com.elysia.core.datasource.dao.ClubUserInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from club_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from club_user_info
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from club_user_info
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.elysia.core.datasource.dao.ClubUserInfoExample">
    delete from club_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.elysia.core.datasource.dao.ClubUserInfo">
    insert into club_user_info (ID, USERNAME, PASSWORD, 
      FIRSTNAME, LASTNAME, GENDER, 
      BIRTHDATE, EMAIL, PHONE, 
      ADDRESS, COUNTRY, CITY, 
      POSTALCODE, AVATAR, STATUS, 
      ROLEID, REGISTRATION_DATE, LASTLOGIN_DATE, 
      CREATE_USER, CREATE_DATE, CREATE_TIME, 
      UPDATE_USER, UPDATE_DATE, UPDATE_TIME
      )
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{firstname,jdbcType=VARCHAR}, #{lastname,jdbcType=VARCHAR}, #{gender,jdbcType=TINYINT}, 
      #{birthdate,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{postalcode,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{roleid,jdbcType=VARCHAR}, #{registrationDate,jdbcType=TIMESTAMP}, #{lastloginDate,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.elysia.core.datasource.dao.ClubUserInfo">
    insert into club_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="firstname != null">
        FIRSTNAME,
      </if>
      <if test="lastname != null">
        LASTNAME,
      </if>
      <if test="gender != null">
        GENDER,
      </if>
      <if test="birthdate != null">
        BIRTHDATE,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="country != null">
        COUNTRY,
      </if>
      <if test="city != null">
        CITY,
      </if>
      <if test="postalcode != null">
        POSTALCODE,
      </if>
      <if test="avatar != null">
        AVATAR,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="roleid != null">
        ROLEID,
      </if>
      <if test="registrationDate != null">
        REGISTRATION_DATE,
      </if>
      <if test="lastloginDate != null">
        LASTLOGIN_DATE,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="firstname != null">
        #{firstname,jdbcType=VARCHAR},
      </if>
      <if test="lastname != null">
        #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="birthdate != null">
        #{birthdate,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="postalcode != null">
        #{postalcode,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="registrationDate != null">
        #{registrationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastloginDate != null">
        #{lastloginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.elysia.core.datasource.dao.ClubUserInfoExample" resultType="java.lang.Long">
    select count(*) from club_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update club_user_info
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        USERNAME = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.firstname != null">
        FIRSTNAME = #{record.firstname,jdbcType=VARCHAR},
      </if>
      <if test="record.lastname != null">
        LASTNAME = #{record.lastname,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null">
        GENDER = #{record.gender,jdbcType=TINYINT},
      </if>
      <if test="record.birthdate != null">
        BIRTHDATE = #{record.birthdate,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null">
        COUNTRY = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        CITY = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.postalcode != null">
        POSTALCODE = #{record.postalcode,jdbcType=VARCHAR},
      </if>
      <if test="record.avatar != null">
        AVATAR = #{record.avatar,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.roleid != null">
        ROLEID = #{record.roleid,jdbcType=VARCHAR},
      </if>
      <if test="record.registrationDate != null">
        REGISTRATION_DATE = #{record.registrationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastloginDate != null">
        LASTLOGIN_DATE = #{record.lastloginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null">
        UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update club_user_info
    set ID = #{record.id,jdbcType=VARCHAR},
      USERNAME = #{record.username,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      FIRSTNAME = #{record.firstname,jdbcType=VARCHAR},
      LASTNAME = #{record.lastname,jdbcType=VARCHAR},
      GENDER = #{record.gender,jdbcType=TINYINT},
      BIRTHDATE = #{record.birthdate,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      COUNTRY = #{record.country,jdbcType=VARCHAR},
      CITY = #{record.city,jdbcType=VARCHAR},
      POSTALCODE = #{record.postalcode,jdbcType=VARCHAR},
      AVATAR = #{record.avatar,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=TINYINT},
      ROLEID = #{record.roleid,jdbcType=VARCHAR},
      REGISTRATION_DATE = #{record.registrationDate,jdbcType=TIMESTAMP},
      LASTLOGIN_DATE = #{record.lastloginDate,jdbcType=TIMESTAMP},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      UPDATE_DATE = #{record.updateDate,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.elysia.core.datasource.dao.ClubUserInfo">
    update club_user_info
    <set>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="firstname != null">
        FIRSTNAME = #{firstname,jdbcType=VARCHAR},
      </if>
      <if test="lastname != null">
        LASTNAME = #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        GENDER = #{gender,jdbcType=TINYINT},
      </if>
      <if test="birthdate != null">
        BIRTHDATE = #{birthdate,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        COUNTRY = #{country,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="postalcode != null">
        POSTALCODE = #{postalcode,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        AVATAR = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=TINYINT},
      </if>
      <if test="roleid != null">
        ROLEID = #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="registrationDate != null">
        REGISTRATION_DATE = #{registrationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastloginDate != null">
        LASTLOGIN_DATE = #{lastloginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.elysia.core.datasource.dao.ClubUserInfo">
    update club_user_info
    set USERNAME = #{username,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      FIRSTNAME = #{firstname,jdbcType=VARCHAR},
      LASTNAME = #{lastname,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=TINYINT},
      BIRTHDATE = #{birthdate,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      COUNTRY = #{country,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      POSTALCODE = #{postalcode,jdbcType=VARCHAR},
      AVATAR = #{avatar,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=TINYINT},
      ROLEID = #{roleid,jdbcType=VARCHAR},
      REGISTRATION_DATE = #{registrationDate,jdbcType=TIMESTAMP},
      LASTLOGIN_DATE = #{lastloginDate,jdbcType=TIMESTAMP},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>